/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	line-height: 1.4;
	color: #585858;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */
.center{
	text-align:center;
}
.m-center{
	margin:0 auto;
}
/* ---- Header---- */
.header-title{
	font-size:1rem;
	font-family:"Times New Roman","Arial","Times" ;
	font-weight: bold;
	color:#f6f7f7;
	background-color: #2d3944;
	padding:20px 0px;
}
.form-title{
	font-size:1.2rem;
	margin-top: 2rem;
}
.form-description{
	margin-top: 0.8rem;
	padding-bottom: 1rem;
	margin-bottom: 2px;
	color:#b9bdc1;
	border-bottom: solid 4px black;
}
form{
	width:90%;
}
fieldset{
  border:none;
  padding-top: 3.2rem;
	padding-bottom: 1rem;
  border-top:solid 2px;
  position: relative;
	font-size:0.8rem;
}
legend{
	position: absolute;
	font-size:1.2rem;
	font-weight: 900;
  top: 1rem;
}
input,label,option,select,textarea{
	color:#b9bdc1;
	margin:0.5rem 0rem;
}
input,label,option,select,textarea, .required-parent,.non-required-parent{
	width:100%;
}
#zipcode{
	width: 200px;
}
select{
	height:2.4rem;
}
input,select,textarea{
	background-color: #eff0f1;
	padding: 0.8rem 1.2rem;
	border: none;
	border-radius: 5px;
	color: black;
	font-size: 0.8rem;
}

textarea{
	height: 7rem;
}
/* Glowing on hover */
input, textarea,select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input:focus, textarea:focus,select:focus {
  box-shadow: 0 0 5px #46698b;
  border: 1px solid #46698b;
}
input[placeholder="Required"]::placeholder{
    font-size: 0.7rem;
    font-style: italic;
    color: #bdc1c4;
		text-align: right;
}


select.arrows:focus {
  border-color: blue;
  outline: 0;
}
.newsletter{
	margin: 0.5rem 0;
}

.newsletter input {
    padding: 0;
    width: unset;
    margin-left: 1rem;
    margin-right: 1rem;
}

button {
    font-size: 1.3rem;
    background: #4ebcb5;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
		margin-top: 1rem;
}
footer{
	font-size: 0.8rem;
	font-style: italic;
	margin-top: 1rem;
	color: #b3b7bc;
	font-family: 'Big Shoulders Display', cursive;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ---- Page Elements ---- */

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px){
	.container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.item{
		display:flex;
	}
	.item-nested.non-required-parent,.item-nested.required-parent {
    width: calc(100% - 120px);
	}
	.item-nested{
		width:120px;
		margin-top:auto;
		margin-bottom: auto;
	}
	body{
		max-width: 800px;
	}
}
